# Miscellaneous
*.class
*.log
*.pyc
*.swp
./App/DS_Store
./App/atom/
./App/buildlog/
./App/history
./App/svn/

# IntelliJ related
*.iml
*.ipr
*.iws
./App/idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
./App/dart_tool/
./App/flutter-plugins
./App/flutter-plugins-dependencies
./App/packages
./App/pub-cache/
./App/pub/
./App/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Arduino
./Controller/pio
./Controller/vscode/.browse.c_cpp.db*
./Controller/vscode/c_cpp_properties.json
./Controller/vscode/launch.json
./Controller/vscode/ipch
